*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    position: relative;
}

h1{
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.main-container div{
    width: 8rem;
    height: 8rem;
    position: absolute;
    transition: 1s;
}

.steelblue{
    background-color: steelblue;
    bottom: 11rem;
    left: 50rem;
    transition: transform 1s;
}

.dimgray{
    background-color: dimgray;
    bottom: 11rem;
    left: 58rem;
}

.rosybrown{
    background-color: rosybrown;
    bottom: 3rem;
    left: 58rem;
}

.yellow{
    background-color: yellow;
    bottom: 3rem;
    left: 50rem;
}

.main-container:hover .steelblue, .main-container:hover .yellow{
    transform: translateX(-100px) rotate(90deg);
}

.main-container:hover .dimgray, .main-container:hover .rosybrown{
    transform: translateX(100px) rotate(-90deg);
}
